name: Test
on:
  push: { branches: [ "master" ] }
  pull_request: { branches: [ "master" ] }

concurrency:
  group: test-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        environment: ["python-310", "python-311", "python-312", "python-313", "python-314", "dev"]
        os: ["ubuntu-24.04", "ubuntu-24.04-arm", "macos-15", "windows-2022"]
    steps:
      - name: checkout
        uses: actions/checkout@v5
        with: { submodules: recursive }
      - uses: prefix-dev/setup-pixi@v0.9.3
        with: { pixi-version: v0.59.0 }
      - name: git config
        run: |
          git config --global user.name "GitHub Workflow"
          git config --global user.email bot@example.com
      - name: pytest
        if: ${{ startsWith(matrix.os, 'ubuntu') }}
        run: pixi run -e ${{ matrix.environment }} test -v
      - name: pytest (no appimage)
        # AppImage tests are not working on non-Linux systems because no docker is installed on the runners.
        if: ${{ !startsWith(matrix.os, 'ubuntu') }}
        run: pixi run -e ${{ matrix.environment }} test -v --ignore-glob 'tests/test_appimage.py'
      - name: cli
        # Check that invoking the CLI works in principle. The CLI itself is tested by pytest.
        run: pixi run -e ${{ matrix.environment }} rever --help
